{% extends "layout.html" %} {% block title %}Edit Note{% endblock %} {% block
content %}

<h2>Edit Note</h2>

<form method="POST">
  <div class="mb-3">
    <label data-i18n="title" for="title" class="form-label">Title</label>
    <input
      type="text"
      name="title"
      class="form-control"
      value="{{ note.title }}"
      required
    />
  </div>

  <div class="mb-3">
    <label data-i18n="content" for="content" class="form-label">Content</label>
    <textarea name="content" rows="6" class="form-control" required>
{{ decrypted_content }}</textarea
    >
  </div>

  <button type="submit" data-i18n="save_changes" class="btn btn-primary">
    Save Changes
  </button>
  <a
    href="{{ url_for('notes.dashboard') }}"
    data-i18n="cancel"
    class="btn btn-secondary"
    >Cancel</a
  >
</form>

{% endblock %}
